body {
  height: 100vh;
  text-align: center;
  font-family: Verdana;
  background-color: #ffefdb;
  color: #000;
  user-select: none;
  margin: 0;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}

audio {
   display: none;
}

video {
  width: 65vw;
  height: 100%;
  object-fit: fill;
  /* -webkit-transform: scaleX(2);
  -moz-transform: scaleX(2); */
  /* width needs to be set to 100% */
  /* height: 70vh; /* height needs to be set to 100% */
  /* position: absolute;
  left: 0;
  top: 0; */
  z-index: -1;
}

h1 {
  font-size: 3.5vw;
  margin-bottom: 1vh;
  background: #ffefdb none repeat scroll 0 0;
}

h2 {
  font-size: 2.8vw;
  margin: 2vh auto;
}

h3 {
  font-size: 1.8vw;
}

h4 {
  font-size: 1.5vw;
}

input {
  height: 7vh;
  width: 30vw;
  padding: 0 5px;
  font-size: 5vh;
  background: none;
  border: none;
  border-bottom: 3px solid #000;
  font-weight: bold;
  cursor: default;
}

input:focus {
  outline: none;
  background: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 50px #ffefdb inset;
}

form {
  width: 60vw;
  margin-left: 12.5vw;
  padding: 10vh 5vw 10vh 5vw;
  border: 3px solid #000;
  border-radius: 5px;
}

.hidden {
  display: none;
}

.bg {
	background-color: #04acaf;
}

.song-select:before {
  content: '♥';
  margin-right: 3px;
}

.song-select {
  color: #d11d1d;
}

.span {
  font-family: 'Times New Roman';
  font-size: 3vw;
}

.flex-item {
  width: 30%;
  padding-bottom: 15vh;
}

.flex-item h3 {
  margin-top: 3vh;
  text-decoration: underline;
}

#loading-screen {
  background-color: #ffefdb;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0; left: 0;
  background-size: cover;
  z-index: 2;

}

#loading-screen {
  padding-top: 30vh;
}

.lds-dual-ring {
  display: inline-block;
  width: 90px;
  height: 90px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 60px;
  height: 60px;
  margin: 1px;
  border-radius: 50%;
  border: 10px solid #000;
  border-color: #000 transparent #000 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


#flex-container {
  /* top: 5px; */
  display: flex;
  height: 40vh;
}

#header {
  margin-bottom: 10vh;
}

#highscore-div, #strikes, #lose {
  /* max-width: 711px;
  max-height: 360px; */
  padding: 0 5vw;
  border-top: 2px solid black;
  border-left: 2px solid black;
}

#score-div {
  padding: 0 5vw;
  border-top: 2px solid black;
}

#press-start {
  width: 100%;
  height: 100%;
  background-size: cover;
  position: absolute;
  top: 0; left: 0;
  background-color: #ffefdb;
  /* padding-top: 10vh; */
}

#press-start h1 {
  font-size: 6vw;
  text-decoration: underline;
}

#press-start h2 {
  margin: 7.5vh auto;
}

.red {
  color: #d11d1d;
}

#choose-song {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0; left: 10; right: 0;
  background-color: #ffefdb;
}

#choose-song h2 {
  font-size: 2.3vw;
}

#choose-song-h2 {
  text-decoration: underline;
}

#lyric-container {
  /* font-size: 40px; */
  /* margin-top: 50vh;
  margin-left: 22vw; */
  width: 55vw;
  position: absolute;
  bottom: 5vh; left: 22vw;
  /* bottom: 100px; left: 10px; right: 10px; */
  color: white;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

#video-container {
  /* width: 640px; */
  height: 60vh;
  margin: 0 auto;
  position: relative;
  background-color: black;
}

#countdown {
  font-size: 4vw;
}


#terminal {
    color: #000;
/*    text-shadow: 1px 1px 5px #000;*/
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
    font-size: 7vw;
    text-align: center;
    display: none;
}

#terminal::after {
    content: "_";
}

.blink::after {
    -webkit-animation: blink 1s ease 0s infinite;
            animation: blink 1s ease 0s infinite;
}

@keyframes blink {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}
